@font-face {
  font-family: "Titillium Web";
  src: url("../src/assets/fonts/TitilliumWeb-Regular.ttf") format("openType");
  font-weight: 400;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../src/assets/fonts/TitilliumWeb-SemiBold.ttf") format("openType");
  font-weight: 600;
}
body {
  font-family: "Titillium Web";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
body .large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
body .small {
  font-size: 0.6875rem;
  line-height: 1rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  body .large {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  body .small {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3, label, button {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3, label, button {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.warehouses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(19, 24, 44, 0.1);
  margin: 2rem 0;
}
@media screen and (min-width: 768px) {
  .warehouses {
    margin: 1rem 0 4rem;
  }
  .warehouses div h3:last-of-type {
    max-width: 5rem !important;
  }
}
@media screen and (min-width: 1280px) {
  .warehouses {
    margin-bottom: 5rem;
  }
  .warehouses div {
    gap: 1rem;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .warehouses div h3:nth-of-type(2) {
    padding-right: 2rem;
  }
}
.warehouses__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .warehouses__title {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem;
  }
}
.warehouses__title-heading {
  align-self: flex-start;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .warehouses__title-heading {
    margin: 0;
  }
}
.warehouses__title .options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .warehouses__title .options {
    flex-direction: row;
    width: 50%;
    padding: 0;
  }
}
.warehouses__title .options__search-form {
  width: 100%;
  position: relative;
  height: 2rem;
  border-radius: 2rem;
  border: 0.1rem solid #BDC5D5;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .warehouses__title .options__search-form {
    height: 1.8rem;
    width: 55%;
  }
}
.warehouses__title .options__search-form::after {
  content: "";
  display: flex;
  width: 2rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0.5rem;
  background-image: url("../../assets/icons/search-24px.svg");
  background-position: center;
  background-size: 1.8em;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .warehouses__title .options__search-form::after {
    background-size: 1.5em;
  }
}
.warehouses__title .options__search-form-input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.77rem;
  padding-top: 1.05rem;
}
@media screen and (min-width: 768px) {
  .warehouses__title .options__search-form-input {
    padding: 0.8rem;
    font-size: 0.65rem;
    width: 85%;
  }
}
.warehouses__title .options__search-form-input:focus::-moz-placeholder {
  opacity: 0;
}
.warehouses__title .options__search-form-input:focus::placeholder {
  opacity: 0;
}
.warehouses__title .options__add-btn {
  width: 100%;
  border-radius: 2rem;
  height: 2rem;
  outline: none;
  border: none;
  background-color: #2E66E5;
  color: #FFFFFF;
  font-size: 0.7rem;
  padding: 0.45rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .warehouses__title .options__add-btn {
    width: 50%;
    padding: 0;
  }
}
.warehouses__list-headers {
  display: none;
}
@media screen and (min-width: 768px) {
  .warehouses__list-headers {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: #F7F8F9;
  }
  .warehouses__list-headers h3 {
    font-size: 0.65rem;
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .warehouses__list-headers h3:last-of-type {
    justify-content: end;
  }
  .warehouses__list-headers h3 svg {
    height: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.warehouses__list-item {
  display: flex;
  flex-wrap: wrap;
  border-top: 0.1rem solid #BDC5D5;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .warehouses__list-item {
    padding: 1rem 2rem;
  }
  .warehouses__list-item:nth-of-type(2) {
    border-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .warehouses__list-item.warehouse:nth-of-type(2) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.warehouses__list-item h3 {
  width: 45%;
  position: relative;
  font-size: 0.7rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .warehouses__list-item h3 {
    width: 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .warehouses__list-item h3 {
    flex: 1;
  }
}
.warehouses__list-item h3::before {
  content: attr(data-label);
  display: block;
  position: relative;
  font-size: 0.65rem;
  font-weight: 600;
  color: #5C667E;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .warehouses__list-item h3::before {
    display: none;
  }
}
.warehouses__list-item h3:first-of-type {
  color: #2E66E5;
  font-weight: 600;
}
.warehouses__list-item h3:last-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.warehouses__list-item h3:last-of-type::before {
  display: none;
}
@media screen and (min-width: 768px) {
  .warehouses__list-item h3:last-of-type {
    justify-content: flex-end;
    gap: 1rem;
  }
}
.warehouses__list-item .warehouse__title {
  order: 0;
}
.warehouses__list-item .warehouse__title-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.warehouses__list-item .warehouse__title svg {
  height: 1.2rem;
  display: flex;
  align-self: flex-end;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  cursor: pointer;
}
.warehouses__list-item .warehouse__address {
  order: 3;
  width: 8rem;
}
@media screen and (min-width: 768px) {
  .warehouses__list-item .warehouse__address {
    order: 0;
  }
}
.warehouses__list-item .warehouse__name {
  order: 0;
}
.warehouses__list-item .warehouse__information {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  order: 3;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .warehouses__list-item .warehouse__information {
    order: 0;
  }
}
.warehouses__list-item .warehouse__actions {
  order: 4;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .warehouses__list-item .warehouse__actions {
    order: 0;
    padding-right: 0;
  }
}
.warehouses__list-item .warehouse__actions svg {
  display: flex;
}/*# sourceMappingURL=Warehouses.css.map */