@import "../../styles/global.scss";

.warehouses {
  @include displayListContainer();

  &__title {
    @include displayListTitle();

    &-heading {
      @include displayListTitle__header();
    }

    & .options {
      @include displayListTitle__options();

      &__search-form {
        @include displayListTitle__options-search();
      }

      &__add-btn {
        @include displayListTitle__options-add-btn();
      }
    }
  }

  &__list {
    &-headers {
      @include displayList-headers();

      @include tablet {
        & h3:nth-of-type(2) {
          min-width: 17rem !important;
        }
      }
    }

    &-item {
      @include displayList-item();

      @include tablet {
        &:nth-of-type(2) {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }
    }

    &-item {
      & .warehouse-item {
        &__title {
          order: 0;
        }

        &__address {
          order: 1;
          display: flex;
          flex-direction: column;
          align-items: start;

          @include tablet {
            order: 0;
          }

          @include desktop {
            flex-direction: row;
            align-items: center;
            min-width: 17rem !important;
          }
        }

        &__name {
          order: 0;
        }

        &__information {
          display: flex;
          flex-direction: column;
          font-size: 0.8rem;
          order: 3;
          align-items: start;

          @include tablet {
            order: 0;
          }
        }

        &__actions {
          order: 4;

          @include tablet {
            order: 0;
          }
        }
      }
    }
  }
}
