$primary-text-color: #13182C;
$primary-element-color: #2E66E5;
$primary-white-color: #FFFFFF;

$secondary-slate-color: #5C667E;
$secondary-cloud-color: #BDC5D5;

$background-graphite-color: #232940;
$background-light-grey: #F7F8F9;

$supportting-green-color: #158463;
$supportting-red-color: #C94515;