@mixin roundButton {
    border-radius: 1.25rem;
    height: 2.25rem;
    width: 100%;
    padding: 0.45rem;
    border: none;


    @include tablet {
        padding: 0 1rem;
        width: fit-content;
    }
}

@mixin formStyling {
    border-radius: 1.25rem;
    border: 0.1rem solid $secondary-cloud-color;
    color: $secondary-slate-color;
    padding: 0 0.75rem;

    &::placeholder{
        color: $primary-text-color;
    }
}
