@import "../../../styles/global.scss";

.delete-inventory {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $background-graphite-color, $alpha: 0.5);

  &__modal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $primary-white-color;
    border-radius: 0;
    box-shadow: 0 0.2rem 0.5rem 0
      rgba($color: $background-graphite-color, $alpha: 0.1);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    @include tablet {
      padding: 2.3rem 4rem;
      width: 42rem;
      height: 15rem;
      position: absolute;
      top: 10rem;
      border-radius: 0.2rem;
    }

    @include desktop {
      width: 45rem;
      height: 18rem;
    }
  }

  & .modal {
    &__close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }

    &__title {
      margin: 2rem 0 0;
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      font-size: 1.76rem;

      @include tablet {
        margin: 0;
        flex: 1;
        font-size: 1.8rem;
      }
    }

    &__text {
      flex: 1;
      font-size: 0.93rem;
      line-height: 1.8rem;
      width: 100%;

      @include tablet {
        font-size: 1rem;
        line-height: 1.7rem;
        display: flex;
        flex-direction: column;
      }

      @include desktop {
        font-size: 1.09rem;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 1rem;

      @include tablet {
        flex: 1;
        justify-content: end;
        gap: 1.1rem;
        margin-bottom: 0;
      }

      & .btn {
        width: 47%;
        height: 2.6rem;
        border-radius: 1.5rem;
        border: 0.1rem solid $secondary-cloud-color;
        cursor: pointer;
        background-color: inherit;
        font-weight: 600;
        color: $secondary-slate-color;

        @include tablet {
          width: 4.5rem;
          height: 2.3rem;
          font-size: 0.8rem;
        }

        @include desktop {
          width: 5rem;
        }
      }

      & .button__cancel {
        &:hover {
          color: $primary-element-color;
          border-color: $primary-element-color;
        }
      }

      & .button__delete {
        background-color: $supporting-red-color;
        border-color: $supporting-red-color;
        color: $primary-white-color;

        &:hover {
          background-color: $background-graphite-color;
          border-color: $background-graphite-color;
        }
      }
    }
  }
}
