@import "../../../styles/global.scss";

.form__element {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    &-warehouse {
        @include element-base;
        border-right: 0.1rem solid $secondary-cloud-color;

        &-title {
            @include title-base;
        }
    }

    &-contact {
        @include element-base;

        &-title {
            @include title-base;
        }
    }
}