@import "../../../styles/global.scss";

.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-white-color;
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba($primary-text-color, 0.1);
    margin: 2rem 0;
    @include tablet{
        margin: 1rem  0rem  4rem  0rem;
    }
    &__header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.4rem;
        padding: 2rem  0rem  1.5rem 1.5rem;
        border-bottom: 0.1rem solid $secondary-cloud-color;
        box-sizing: border-box;
        @include tablet{
            padding: 1rem  0rem  .8rem  2rem;
        }
        &-icon{
            padding-top: 1rem;
        }
        &-title{
            margin: 0rem;
            padding-top: 0.5rem;
        }
    }
    &__form-wrapper{
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        @include tablet{
            flex-direction: row;
        }
    }
    &__form{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: .5rem;
        @include tablet{
            flex-direction: row;
        }
        &-item{
            display: flex;
            flex-direction: column;
            height: 90px;
            &-label{
                margin: 0rem;
                padding: 0rem  .25rem  .25rem  .25rem;
            }
            &-input{
                all: unset;
                box-sizing: border-box;
                border-radius: 1.25rem;
                border: 0.1rem solid $secondary-cloud-color;
                height: 2.25rem;
                padding-left: 1rem;
                color: $secondary-slate-color;
                @include tablet {
                    height: 2.375rem;
                }
                &:focus {
                    border: 0.1rem solid $primary-element-color;
                    outline: none;
                }
                &.invalid {
                    border-color: $supporting-red-color; 
                    &:focus {
                        border-color: $supporting-red-color; 
                    }
                }
                &-error{
                    display: flex;
                    flex-direction: row;
                    margin-top: .25rem;
                    &-icon svg{
                        width: 16px;
                        height: 16px;
                    }
                    &-message{
                        margin: 0;
                        color: $supporting-red-color;
                        padding-left: .25rem;
                    }
                }
            }
        }
        &-warehouse{
            display: flex;
            flex-direction: column;
            padding: 0rem  1.5rem;
            border-bottom: 0.1rem solid $secondary-cloud-color;
            @include tablet{
                border-bottom: none;
                border-right: 0.1rem solid $secondary-cloud-color;
                flex: 1;
                padding: 0rem  2rem;
            }
            @include desktop{
                padding: .5rem  3rem;
            }
            &-title{
                margin: 0rem;
                padding-bottom: 1.5rem;
                @include tablet{
                    padding-bottom: 2rem;
                }
            }
        }
        &-contact{
            display: flex;
            flex-direction: column;
            padding: 1.5rem  1.5rem  0rem  1.5rem;
            @include tablet{
                flex: 1;
                padding: 0rem  2rem;
            }
            @include desktop{
                padding: .5rem  3rem;
            }
            &-title{
                margin: 0rem;
                padding-bottom: 1.5rem;
                @include tablet{
                    padding-bottom: 2rem;
                }
            }
        }
        &-buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0rem  1.5rem  0rem  1.5rem;
            gap: 1rem;
            @include tablet{
                justify-content: flex-end;
                padding-right: 2rem;
                padding-top: 1.5rem;
            }
            &-save{
                all: unset;
                border-radius: 1.25rem;
                height: 2.25rem;
                background-color: $primary-element-color;
                color: $primary-white-color;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                @include tablet{
                    flex: 0;
                    height: 2.375rem;
                    padding: 0rem  1rem;
                }
                &:hover{
                    background-color: $background-graphite-color;
                }
            }
            &-cancel{
                all: unset;
                border-radius: 1.25rem;
                border: 0.1rem solid $secondary-cloud-color;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $secondary-slate-color;
                @include tablet{
                    flex: 0;
                    height: 2.375rem;
                    padding: 0rem  1rem;
                }
                &:hover{
                    border-color: $primary-element-color;
                    color: $primary-element-color;
                }
            }
        }
    }
}