@import "../../../styles/global.scss";
@import "../../../styles/partials/mixins.scss";

.warehouse-details {
    @include details-background;
}

.warehouse {
    padding: 1rem;
    @include container-flex(center, space-between);
    @include border-bottom;
    &__header {
        @include container-flex(flex-end);
        color: $primary-text-color;
        &--title {
            margin: 0;
        }
        &--wrapper {
            background-color: $primary-element-color;
            @include responsive-border-radius;
            @include responsive-padding(0.75rem, 0.375rem 1rem);
            & > svg, div {
                display: flex;
            }
            &-link {
                @include hidden-span;
                @include tablet {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    text-decoration: none;
                    color: $primary-white-color;
                }
            }
        }
    }
}

.warehouse-information {
    @include flex-column(2rem);
    padding: 2rem;
    padding-bottom: 0;
    & * {
        margin: 0;
    }
    h3 {
        color: $secondary-slate-color;
    }
    p {
        color: $primary-text-color;
    }
    &__address {
        &--street {
        @include description-text;
        }
    }
    &__contact {
        @include container-flex(center, space-between);
        padding-bottom: 1rem;
        @include tablet {
            gap: 2rem;
            border-left: 1px solid $secondary-cloud-color;
            padding-left: 2rem;
            @include desktop {
                padding-left: 3rem;
            }
        }
    }
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        gap: 20%;
    }
}
