@import "../../../styles/global.scss";

.warehouse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .0625rem solid $secondary-cloud-color;
    &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $primary-text-color;
        &--wrapper {
            background-color: $primary-element-color;
            border-radius: 50%;
            padding: 12px;
            & > svg, div {
                display: flex;
            }
        }
    }
}