@import "../../../styles/global.scss";

.edit-inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-white-color;
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba($primary-text-color, 0.1);
    margin: 2rem 0;

    @include tablet {
        margin: 1rem 0 4rem;
    }

    @include desktop {
        margin-bottom: 5rem;
    }

    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
        padding: 1.5rem 0rem 1.5rem .75rem;
        border-bottom: 0.1rem solid $secondary-cloud-color;
        box-sizing: border-box;

        @include tablet {
            flex-direction: row;
            padding: 1.5rem 2rem 1rem;
        }

        &-heading {
            align-self: flex-start;
            margin: 0;
        }
    }
}

.form {
    width: 100%;

    &__section {
        width: calc(100% - 2rem);
        padding: 0 1rem 1rem 1rem;
        border-bottom: 0.1rem solid $secondary-cloud-color;
    }

    &__label {
        margin: 0;
        padding: 1rem 0rem .25rem 0rem;
    }

    &__input {
        @include formStyling;
        width: calc(100% - 1.65rem);
        height: 2.25rem;
    }

    &__textarea {
        @include formStyling;
        width: calc(100% - 2.2rem);
        height: 7.5rem;
        padding: 0.5rem 1rem;
        font-family: 'Titillium Web';
    }

    &__select {
        @include formStyling;
        width: 100%;
        height: 2.25rem;
    }

    &__aside{
        width: calc(100% - 2rem);
        padding: 0 1rem 1rem 1rem;
    }
}
