@import "../../../styles/global.scss";

.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-white-color;
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba($primary-text-color, 0.1);
    margin: 2rem 0;
}
