@import "../../styles/global.scss";

.inventories {
  @include displayListContainer();

  &__title {
    @include displayListTitle();

    &-heading {
      @include displayListTitle__header();
    }

    & .options {
      @include displayListTitle__options();

      &__search-form {
        @include displayListTitle__options-search();
      }

      &__add-btn {
        @include displayListTitle__options-add-btn();
      }
    }
  }

  &__list {
    &-headers {
      @include displayList-headers();

      @include tablet {
        @include inventoryListColumnWidths();
      }
    }

    &-item {
      @include displayList-item();

      @include tablet {
        @include inventoryListColumnWidths();
      }

      & .inventory-item {
        &__title {
          order: 0;
        }

        &__category {
          order: 1;

          @include tablet {
            order: 0;
          }
        }

        &__status {
          height: 24px;
          padding-left: 8px;
          padding-right: 8px;
          border-radius: 20px;
          order: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          @include tablet {
            height: 26px;
          }

          @include desktop {
            height: 26px;
          }

          &.status--green {
            color: $supporting-green-color;
            background-color: rgba($supporting-green-color, 0.07);
          }

          &.status--red {
            color: $supporting-red-color;
            background-color: rgba($supporting-red-color, 0.07);
          }
        }

        &__qty {
          order: 1;

          @include tablet {
            order: 0;
          }
        }

        &__warehouse_id {
          order: 3;
          margin-left: 50%;

          @include tablet {
            margin-left: 0;
            order: 0;
          }
        }

        &__actions {
          order: 4;

          @include tablet {
            order: 0;
          }
        }
      }
    }
  }
}
