@import "../../styles/global.scss";

.not-found{
    @include displayListContainer();
    &{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;

    }

    &__arrow-icon{
        cursor: pointer;
    }
}
